.btn_small {
    height: 35px !important;
    width: 100px !important;
    line-height: 24 px !important;
    margin: 5px 5px 5px 2px !important;
    padding: 0 0.5em 0 0.1em !important;
    float: right !important;
}

.btn_category {
    height: 35px !important;
    width: 120px !important;
    line-height: 24 px !important;
    margin: 5px 5px 5px 2px !important;
    padding: 0 0.5em 0 0.1em !important;
}

.icon {
    width: 20px;
    height: 20px;
}

.workout_header {
    margin-top: 15px;
    width: -webkit-fill-available !important;
}

.icon-main {
    padding-top: 10px !important;
}

.li-spacing {
    margin-bottom: 20px !important;
}

.btn-cancel {
    background-color: red;
    width: 120px !important;
}

.btn-cancel:hover {
    background-color: white;
    color: red;
}

.btn-save {
    background-color: green;
    width: 120px !important;
}

.btn-save:hover {
    background-color: white;
    color: green;
}

.button-field {
    width: 100% !important;
    float: right !important;
}

.button-right {
float: right !important;
}

.title {
    font-size: 2rem !important;
    margin-left: 20px !important;
}

@media only screen and (max-width: 600px) {
 .title {
    font-size: 1.5rem !important;
}
}