{% extends 'base.html' %} {% block outercontent %}

<div class="row">

<h3>Workout Categories</h3>
<ul class="collapsible popout">
<!-- for loop to display all vailable categories from Mongo DB -->
  {% for category in categories %}
  <li>
    <div class="collapsible-header">
      <div class="workout_header col s9">
        <strong>{{category.muscle_name}}</strong>
      </div>
     <div class="button-field">
  <a class="waves-effect waves-light btn btn_category red modal-trigger button-right" href="#modal2"><i class="material-icons left icon">remove_circle_outline</i></a>
  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Are you sure you want to completely remove this category?</h4>
    </div>
    <div class="modal-footer">
      <a href="{{url_for('delete_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small red">Yes</a>
      <a href="#!" class="modal-close waves-effect waves-light btn btn_small green">No</a>
    </div>
  </div>
        <a href="{{url_for('edit_category' , category_id=category._id)}}" class="waves-effect waves-light btn btn_small grey button-right"><i class="material-icons left icon">create</i>Edit</a>
</div> 
    </div>
  </li>
  {% endfor %}
</ul>
</div>

<div class="row">
    <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn green">
        <i class="material-icons right">playlist_add</i>Add Category
    </a>
</div>
{% endblock %}
