{% extends 'base.html' %}
{% block outercontent %}
    

<ul class="collapsible popout">
    {% for workout in workouts %} 
    <li>
      <div class="collapsible-header">

        <div class=" task_header col s9">
            <i class="material-icons">fitness_center</i><strong>{{workout.workout_name}}</strong> - {{workout.workout_date}}
        </div>
      </div> 
      <div class="collapsible-body">
        <span>
            {{workout.workout_notes}}
        </span>
      </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}